.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    gap: 100px;
    height: 100vh;
    margin: 0 auto;
    max-width: 700px;
}

.img {
    height: 96vh;
    width: auto;
}

.text {
 font-size: xx-large;
}

@media (max-width: 1260px) {
    .main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }


    .img {
        width: 96%;
        height: auto;
        margin-top: 50%;
    }

    .text {
     font-size: 20px;
    }
}
